<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        *{
            text-align: center;
            margin: 0 auto;
            list-style: none;
        }
        .fileupload{
            position: relative;
            top: 50px;
        }
        .imgshow{
            position: relative;
            top: 100px;
        }
        .imgshow ul li{
            float: left;
        }
        .imgshow img{
            width: 200px;
            height:200px;
        }
    </style>
    <title>upload</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" class="fileupload">
        <input type="file" name="file1">
        <input type="file" name="file2">
        <input type="submit" value="上传">
    </form>
    {% if content %}
        <div>

            {{ content.info }}
        </div>
        <div class="imgshow">
            <img src="/static/img/pv/{{ content.img1 }}" alt="img1">
            <img src="/static/img/pv/{{ content.img2 }}" alt="img2">
            <br/>
            <img src="/static/img/pv/{{ content.fid }}" alt="fid">
            <span>相似度为:{{ content.result }}%</span>
        </div>
    {% endif %}

</body>
</html>