<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        *{
            text-align: center;
            margin: 0 auto;
            list-style: none;
        }
        .fileupload{
            position: relative;
            top: 50px;
        }
        .imgshow{
            position: relative;
            top: 100px;
        }
        .imgshow ul li{
            float: left;
        }
        .imgshow img{
            width: 100px;
            height:100px
        }
    </style>
    <title>upload</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data" class="fileupload">
        <input type="file" name="file">
        <input type="submit" value="上传">
    </form>
    <div>
        {% if content %}
            {{ content.info }}
        {% endif %}
    </div>
    <div class="imgshow">
        <ul>
            {% for i in content.imginfo %}
            <li>
                <img src="/static/img/{{ i.imgurl }}.jpg" alt="{{ i.imgname }}">
                </br>{{ i.imgname }}
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>